{
  "extends": "stylelint-config-standard",
  rules: {
    'comment-empty-line-before': null,
    'at-rule-empty-line-before': null,
    'declaration-empty-line-before': null,
  },
  ignoreFiles: [
    "fonts/**/**",
    "build/**/**",
    "coverage/**/**",
    "dist/**/**",
    "node_modules/**/**",
    "node_modules/react-select/.publish/example.css",
    "stylesheets/css/**/**",
    "stylesheets/postcss/vendor/**/**",
    "stylesheets/postcss/_reset.css",
    "stylesheets/postcss/styles.css",
  ],
}
